/*Applying CSS Grid Layout to HTML*/
body {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#container {
    display: grid;
    width: 400px;
    height: 500px;
    padding-top: 40px;
}


.button1 {
    max-width: 960px;
    justify-self: start;
    padding: 10px;
}
