/*Applying CSS Grid Layout to HTML*/
body {
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: darkolivegreen;
}

#container {
    display: grid;
    width: 600px;
    height: 700px;
    padding-top: 40px;
    
}


.button1 {
    max-width: 960px;
    justify-self: start;
    padding: 10px;
}
