/*Applying CSS Grid Layout to HTML*/
body {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 960px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.button1 {
    max-width: 960px;
    justify-self: start;
}